<h2>Job Experience</h2>
<div class="employment">
{{ range $.Site.Data.experience }}
  <h4>{{ .title }}</h4>
  <ul class="styless-list">
    <li>{{ .location }}</li>
    <li>{{ .from }} - {{ .to }}</li>
    <li>
      <dl>
        <dt>Responsibilities:</dt>
        <dd>{{ if .responsibilities.header}}{{ .responsibilities.header }}{{ end }}
          <ul class="list-level-1">
            {{ range .responsibilities.items }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </dd>
      </dl>
    </li>
  </ul>
{{ end }}
</div>
