<div class="row contact">
  <div class="col-5">
    <h1 class="display-3">{{ .Params.name }}</h1>
  </div>
  <div class="col-7">
    <ul>
      <li>{{ .Params.address | safeHTML }}</li>
      <li>{{ .Params.phone }}</li>
      <li>{{ .Params.email }}</li>
      <li>{{ .Params.github }}</li>

    </ul>
  </div>
</div>
<div class="row">
<hr>
</div>
